{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar-->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'game create' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- edit profile section -->
    <section id="register-page" class="content auth">
        <!-- edit profile form -->
        <form id="register" method="post" action="{% url 'profile edit' %}">
            {% csrf_token %}
            <div class="container">
                <!-- Edit Profile paragraph -->
                <h1>Edit Profile</h1>

                {{ form }} {{ form.errors }}

                <!-- edit profile button -->
                <input class="btn submit" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>
